<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>At foo bar</title>
</head>
<body>
	<h1>At foo bar</h1>
	<h2><%= drink.name %></h2>
	<img src="<%= drink.image %>">
	<h3>$<%= drink.price %></h3>
	<a href="/drinks">Back</a>
</body>
</html>
