<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome to gitPub</title>
	<style type="text/css">
		body {
			color: rgb(245, 243, 240);
			background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff416c, #ff4b2b);
		}
	</style>
</head>
<body>
	<h1>Welcome to gitPub</h1>
	<ul>
		<% for (let i = 0; i < drinks.length; i++) { %>
			<li><%= drinks[i].name %> - $<%= drinks[i].price %></li>
		<% } %>
	</ul>
</body>
</html>
